.button{
    -fx-background-color: #2b5752;
    -fx-font-weight: bold;
}

.button:hover{
    -fx-background-color: #000000;
    -fx-font-weight: bold;
}


.label{
    -fx-text-fill: #454545;
    -fx-font-weight: bold;
    -fx-end-margin: bold;
    -fx-font-family: "MS Outlook";
}

#studentLabel{
    -fx-font-weight: bold;
    -fx-font-family: Tahoma;
}

.scroll-bar{
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-opacity: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

#tableView, .table-column{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell{
    -fx-background-color: #f9fff9;
    -fx-fill: #464646;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:odd{
    -fx-background-color: linear-gradient(#f9fff9,#97cdc2);
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:selected, .table-row-cell:focused{
    -fx-text-fill: #f9fff9;
    -fx-fill: #f9fff9;
    -fx-background-color: #000;
}

#studentBox{
    -fx-background-color: linear-gradient(#4a968d,#f9fff9);
}